<%- include("header", {title: title}); %>


<h1>Edit a product</h1>
<p>Edit product <%= product %></p>

<% res = res[0] %>
<form method="post" action="/eshop/edit">
    <!-- <fieldset> -->
        <!-- <legend>Create account</legend> -->

        <!-- <label for "id">Id:</label> -->
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">
<br>
        <!-- <label for "name">Name:</label> -->
        <input id="description" type="text" name="description" value="<%= res.description %>">
<br>
        <!-- <label for "balance">Balance:</label> -->
        <input id="price" type="number" name="price" value="<%= res.price %>">
<br>
        <input type="submit" name="doit" value="Edit">
    <!-- </fieldset> -->
</form>
<p>
<a href="/eshop/productonly/">Back</a>
</p>


<%- include("footer"); %>
