<%- include("header", {title: title}); %>


<h1>Orderöversikt</h1>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table align="center">
    <tr>
        <th>order_id</th><th>order_skapad</th><th>kund_id</th><th>antal orderrader</th><th>status</th><th></th>
    </tr>
    <% for (const row of res) { %>
        <tr>
            <td><%= row.id %></td>
            <td class="left"><%= row.created %></td>
            <td><%= row.customer_id %></td>
            <td><%= row.number_of_rows %></td>
            <td class="left"><%= row.status %></td>
            <td class="left"><a href="/eshop/show/<%= row.id %>">Lägg till produkter / visa orderinfo</a></td>



            <!--<td><a href="/eshop/edit/<%= row.id %>">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="/eshop/delete/<%= row.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>-->
        </tr>
    <% }; %>
</table>
<p>
<a href="/eshop/createorder/">Skapa en ny order</a>
</p>

<%- include("footer"); %>
