<%- include("header", {title: title}); %>

<pre><%#= JSON.stringify(res, null, 4) %></pre>


<h1>Skapa en ny produkt</h1>

<form method="post">
    <input id="id" type="text" name="id" placeholder="Id">
    <br>
    <input id="description" type="text" name="description" placeholder="Beskrivning">
    <br>
    <input id="price" type="number" name="price" placeholder="Pris">
    <br>
    <label>Välj Kategori(er)</label><br>
    <% for (const category of res) { %>
        <input class="left" id="cid" type="checkbox" name="cid[<%= category.id %>]" value="<%= category.id %>"><%= category.category %>
        <br>
    <% }; %>
    <br>
    <input type="submit" name="doit" value="Skapa produkt">
</form>


    <%- include("footer"); %>
