<%- include("header", {title: title}); %>


<h1>Our products, categories and their stock</h1>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table align="center">
    <tr>
        <th>id</th><th>article</th><th>price</th><th>category</th><th>stock</th><!--<th>Action</th>-->
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td class="left"><%= row.article %></td>
        <td><%= row.price %></td>
        <td class="left"><%= row.category %></td>
        <td><%= row.stock %></td>

        <!--<td class="center"><a href="/bank/edit/<%= row.id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="/bank/delete/<%= row.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>-->
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
